<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<input type="text" name="file" id="fileThing">
	<button id="btn">Submit</button>
	<script type="text/javascript" src="js/zip/zip.js"></script>
	<script type="text/javascript" src="js/zip/zip-ext.js"></script>
	<script type="text/javascript" src="js/test.js"></script>
</body>
</html>