<!DOCTYPE html>
<html>
    <head>
        <title>eBookerz</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/zip/zip.js"></script>
    	<script type="text/javascript" src="js/zip/zip-ext.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        