<% include partials/header %>

<div id="header">
    <h1>eBookerz&reg;</h1>
    <h4 id="warning">*By using this tool, you agree to use it for proper, legal purposes. We are not responsible for any content you may download nor for how you use/distribute the content.</h4>
</div>
<form action="/search" method="POST" id="box">
    <input type="search" name="query" id="search" placeholder="Search..." /><button id="btn">
    <i class="fa fa-search" aria-hidden="true"></i></button>
</form>

<div id="statusHolder">
    <div id="status">
        Status:
    </div>
</div>
<div id="results">
    
</div>

<% include partials/footer %>